[data-theme="dark"],
[data-theme="dark"] body {
  color: #cac7c7;
  background: radial-gradient(#9c8566, #ffffff);
}

[data-theme="light"],
[data-theme="light"] body {
  color: #cac7c7;
  background: radial-gradient(#ffffff, #d8f3dd, #a4b9a8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
