:root {
}

[data-theme='dark'],
[data-theme='dark'] body {
  color: #cac7c7;
  background: #1c1b22;
}

* {
  margin: 0.2rem;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
